@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding : 0;
}

html, body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: green;
}
::-webkit-scrollbar-track{
    background-color: blue;
}

.header_wrapper {
    background-color:#1d7a36;
    min-height: 100px;

}
.header_wrapper h1::after {
     content: "";
     display: block;
     margin-top: 10px;
     margin-left: 42%;
     border-radius: 5px;
     height: 3px;
     width: 150px;
     background-color: orange;
}

.section {
    margin-top: 120px;
}


#error-message {
    background-color: #f8d7da;
    color: #842029;
    position: absolute;
    margin: 10px;
    padding: 10px;
    display: none;
    z-index: 100;
    top : 70px;
    right: 100px;
   

    
}

#success-message {
    color: #0f5132;
    background-color: #d1e7dd;
    position: absolute;
    margin: 10px;
    padding: 10px;
    display: none;
    z-index: 100;
    top : 70px;
    right: 100px;
   
}